.card {
    display: flex;
    width: 330px;
    height: 330px;
    border-radius: 1rem;
    background-color: #660000;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    color: #F5E0CC;
}

.card img {
    background-color: #f9f8f6;
    border-radius: 1rem 1rem 0 0;
    width: 330px;
    height: 225px;
    object-fit: cover;
}

.card figcaption {
    align-items: center;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

@media screen and (max-width: 768px) {


    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 500px;

    }

    .card img {
        margin: 0 0 16px 0;
        width: 600px;
        height: 400px;
    }

}