header {
    height: 10vh;
}


main {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
}

footer {
    height: 10vh;
}

@media screen and (max-width:750px) {


    header {
        height: 50px;
        background-color: #5B9279;
    }

    main {
        display: flex;
        height: auto;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }


    footer {
        height: 50px;
        background-color: #5B9279;
    }
}