header {
    height: 10vh;
}


main {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
}

footer {
    height: 10vh;
}

@media screen and (max-width:768px) {


    header {
        height: 10vh;
    }

    main {
        display: flex;
        height: 80vh;
        justify-content: center;
        flex-wrap: wrap;
    }



    footer {
        height: 10vh;
    }
}